Source: ros-kilted-nav2-bt-navigator
Section: misc
Priority: optional
Maintainer: Michael Jeronimo <michael.jeronimo@intel.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-index-cpp, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-geometry-msgs, ros-kilted-nav-msgs, ros-kilted-nav2-behavior-tree, ros-kilted-nav2-common, ros-kilted-nav2-core, ros-kilted-nav2-msgs, ros-kilted-nav2-util, ros-kilted-pluginlib, ros-kilted-rclcpp, ros-kilted-rclcpp-action, ros-kilted-rclcpp-components, ros-kilted-rclcpp-lifecycle, ros-kilted-tf2-ros, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-nav2-bt-navigator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-ament-index-cpp, ros-kilted-geometry-msgs, ros-kilted-nav-msgs, ros-kilted-nav2-behavior-tree, ros-kilted-nav2-core, ros-kilted-nav2-msgs, ros-kilted-nav2-util, ros-kilted-pluginlib, ros-kilted-rclcpp, ros-kilted-rclcpp-action, ros-kilted-rclcpp-components, ros-kilted-rclcpp-lifecycle, ros-kilted-tf2-ros, ros-kilted-ros-workspace
Description: Nav2 BT Navigator Server
